body {
  text-align: center;
  color:black;
}

.tropical {
  color: #f7325e;
  font-family: fantasy;
  line-height: 1.6;
}

.popular {
  color: teal;
  font-family: cursive;
}

img {
  width: 700px;
  height: 500px;
  border-radius: 5%;
}

.paragraphs {
  color: black;
  line-height: 1.6;
}


.header {
  color: teal;
}

h1 {
  color: white;
  background: teal;
}
